@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9fafb;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    cursor: pointer;
}

.container {
    /*border-bottom: 1px solid black;*/
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center {
    height: 80vh;
}

.form-control1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control1 label {
    margin-bottom: 5px;
}

.form-control1 input {
    margin-bottom: 15px;
    width: 150px;
    height: 35px;
    border: 1px solid rgba(235, 235, 235, 1);
    border-radius: 5px;
}

.form-control1 button {
    margin-bottom: 5px;
}

#search-input:focus {
    -webkit-box-shadow: 0px 0px 8px -1px rgba(112,172,255,1);
    -moz-box-shadow: 0px 0px 8px -1px rgba(112,172,255,1);
    box-shadow: 0px 0px 8px -1px rgba(112,172,255,1);
    outline: none;
}

.form-control1 button:active {
    transform: scale(0.97);
}

.movie-results-container {
    margin-top: 2rem;
    padding: 20px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
    width: 90%;
    height: 100%;
}

.result2 {
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    flex-wrap: wrap;
    margin: 15px 10px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
    height: 370px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.45);
    transition: transform 0.5s ease-in-out;
}

.result2 img {
    width: 150px;
    height: 200px;
    margin: 10px auto;
}

.result2 span {
    margin-top: 5px;
}

.result2:hover{
    transform: scale(1.1);
}

#movie-title {
    text-align: center;
}

#movie-type {
    font-weight: 700;
}


input[type="text"] {
    width: 300px;
}

.movie-result1 {
    width: 100%;
    height: auto;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-result{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px;
    align-items: center;
    border-bottom: 1px black solid;
    width: 70%;
}

#main-poster {
    width: 300px;
    height: 400px;
    /*border: 1px black solid;*/
    margin-bottom: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.24);
}

#movie-main-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    /*border: 1px solid red;*/
    flex-wrap: wrap;
    padding: 20px 15px;
    list-style: square;
}

table {
    margin: 25px 0;
    padding: 10px 5px;
    width: 50%;
}
td {
    padding: 12px 10px;
    border-left: 1px solid rgba(235, 235, 235, 1);
}
tr:nth-child(even) {
    background: rgba(235, 235, 235, 1);
}

#plot{
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
}

#footer {
    width: 100%;
    height: auto;
    font-size: 9px;
    bottom: 0;
    overflow: visible;
    margin-top: 10px;
    text-align: left;
    position: fixed;
    display: block;
}

@media only screen and (min-width: 1200px) {
    .movie-results-container {
        width: 70%;
    }
}



